.Pokedex {
    text-align: center;
  }
  
  .Pokedex-title {
    color: rgba(169, 169, 169, 0.917);
  }
  
  .Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .Pokedex-winner {
    font-weight: bold;
    color: rgb(215, 59, 3);
  }